<header class="header lock-offset">
	<div class="header__container">
		<a href="#" class="header__logo">
			<img src="img/svg/small-logo.svg" alt="Company logo">
		</a>
		<div data-da=".nav,1399.98,0" class="header__location location-header">
			<label class="location-header__label location-header__label--left">
				<input class="location-header__input" name="name" type="radio" checked>
				<svg class="location-header__icon">
					<use xlink:href="img/sprite.svg#location"></use>
				</svg>
				<span class="location-header__radio">Kyiv</span>
			</label>
			<label class="location-header__label location-header__label--right">
				<input class="location-header__input" name="name" type="radio">
				<svg class="location-header__icon">
					<use xlink:href="img/sprite.svg#location"></use>
				</svg>
				<span class="location-header__radio">Dubai</span>
			</label>
		</div>
		<div class="header__menu">
			<nav class="nav" title="Main navigation">
				<ul class="nav__list">
					<li class="nav__item"><a href="#" class="nav__link">Choose a car</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Terms</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Prices</a></li>
					<li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
					<li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
				</ul>
			</nav>
		</div>
		<div data-da=".nav,991.98" class="header__contacts contacts-header">
			<div class="contacts-header__socials socials">
				<a href="#" class="contacts-header__social socials__item socials__item--whatsapp" aria-label="Whatsapp">
					<svg>
						<use xlink:href="img/sprite.svg#whatsapp"></use>
					</svg>
				</a>
				<a href="#" class="contacts-header__social socials__item socials__item--telegram" aria-label="Telegram">
					<svg>
						<use xlink:href="img/sprite.svg#telegram"></use>
					</svg>
				</a>
			</div>
			<a href="tel:+380951102047" class="contacts-header__phone">+38 (095) 110 20 47</a>
			<button class="button contacts-header__button modal-button" data-path="modal-reservation">Book a call</button>
		</div>
		<div class="header__user-block user-block">
			<button class="user-block__button user-block__button--cart">
				<svg>
					<use xlink:href="img/sprite.svg#car"></use>
				</svg>
				<span>1</span>
			</button>
			<button class="user-block__button user-block__button--account">
				<svg>
					<use xlink:href="img/sprite.svg#account"></use>
				</svg>
			</button>
			<button type="button" class="burger"><span></span></button>
		</div>
	</div>
</header>